{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
    <link rel="icon" type="image/png" href="https://rustondesign.com/images/rd_icon.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'profile.css' %}">
</head>
<body>
    <div class="loader">
        <img id="loadergif" src="https://i.redd.it/o6m7b0l6h6pz.gif">
    </div>
    <div class="content">
        <div class="intro-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-1 col-lg-2"></div>
                    <div class="col-md-10 col-lg-8">
                        <div class="intro">
                            <div class="profile-img"><img src="{{ img_url }}" alt=""></div>
                            <h1>Hi! I am {{ name }}</h1>
                            <article>{{ desc }}</article>
                            <ul class="information margin-tb-30">
                                <li><b>UNIVERSITY : </b>{{ univ }}</li>
                                <li><b>NPM : </b>{{ npm }}</li>
                                <li><b>HOBBY : </b>{{ hobby }}</li>
                            </ul>
                            <button onclick="location.href='{% url 'index' %}'" type="button" class="btn btn-warning">Go to main page</button>
                            <div class="dropdown margin-tb-30">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Change Theme
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                    <button class="dropdown-item" type="button" id="changeLight">Light</button>
                                    <button class="dropdown-item" type="button" id="changeDark">Dark</button>
                                </div>
                            </div>
                            <ul class="accordion">
                                <li>
                                    <a class="toggle" href="javascript:void(0);" id="act">Activities</a>
                                    <ul class="inner" id="activities">
                                        <li>Doing PPW Tasks</li>
                                        <li>Studying Hard</li>
                                        <li>Doing POK Tasks</li>
                                        <li>Studying Hard</li>
                                        <li>Doing PPW Tasks</li>
                                        <li><strike>Doing Many Religious Things</strike></li>
                                        <li>Doing PPW Tasks</li>
                                        <li>Doing SDA Tasks</li>
                                        <li>Doing POK Tasks</li>
                                        <li>Doing SDA Tasks</li>
                                        <li><strike>Play Games</strike></li>
                                        <li><strike>Doing Some Quality Time with Family</strike></li>
                                        <li>Studying Hard</li>
                                        <li>Doing SDA Tasks</li>
                                        <li>Studying Hard</li>
                                        <li>Doing Quizes</li>
                                        <li>Doing Organization Things</li>
                                        <li><strike>Get Enough Sleep</strike></li>
                                    </ul>
                                </li>

                                <li>
                                    <a class="toggle" href="javascript:void(0);" id="org">Organization Experiences</a>
                                    <ul class="inner" id="organization">
                                        <li>Head of Special Commission I MPK SMAN 28 Jakarta</li>
                                        <li>Head of Research and Technology at Robotic 28</li>
                                        <li>AI Division Staff at Autonomous Marine Vehicle Robotic UI</li>
                                        <li>Business and Partnership Staff at BEM Fasilkom UI</li>
                                    </ul>
                                </li>

                                <li>
                                    <a class="toggle" href="javascript:void(0);" id="ach">Achievements</a>
                                    <ul class="inner" id="achievement">
                                        <li>Highest National Exam Score of All Islamic Elementary Schools in Jakarta</li>
                                        <li>Special Award – Creative Category at International Islamic School Robotic Olympiad</li>
                                        <li>1st Place – Explorer Category at 2nd ASEAN MATE Underwater Robot Competition</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'profile.js' %}"></script>
</body>
</html>
