<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="author" content="Razaqa Dhafin Haffiyan">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Razaaf Dev</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="icon" type="image/png" href="https://rustondesign.com/images/rd_icon.png">
    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Meterialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'subscribe.css' %}">
</head>
<body>
    <div class="container">
        <div class="row">
            <h5 id='judul'>SUBSCRIBE ME!</h5>
            <div class="text-center">
                <a href='{% url 'index' %}' class='waves-effect waves-light btn'><i class='material-icons right'>person_pin</i>Go Back</a>
            </div>
            <div class="card">
                <div class="card-content">

                </div>
                <div class="card-tabs">
                    <ul class="tabs tabs-fixed-width">
                        <li class="tab"><a class="active" href="#subs_form">Subscribe</a></li>
                        <li class="tab"><a href="#subs_data">Subscribers Data</a></li>
                    </ul>
                </div>
                <div class="card-content grey lighten-4">
                    <div id="subs_form">
                        <div class="row">
                            <div class="col s12">
                                <div class="card yellow lighten-4">
                                    <div class="card-content black-text">
                                        <div class="text-center">
                                            <span class="card-title"><b>thank you for subscribing!</b></span>
                                        </div>
                                        <form id="form" method="POST" action="/subscribe">
                                            {% csrf_token %}
                                            {% for field in form %}
                                            <div class="row">
                                                <div class="input-field col s12">
                                                    <div id="{{ field.name }}">
                                                    </div>
                                                    {{ field }}
                                                    <label class="black-text" for="{{ field.auto_id }}">{{ field.html_name }}</label>
                                                    <span class="helper-text" data-error="not correct" data-success="correct">not correct</span>
                                                    {% if field.name == 'email' %}
                                                        <span class="helper-text red-text" id="helper-text-{{ field.name }}"></span>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            {% endfor %}
                                            <div class="text-right">
                                                <button id="id_subs" disabled type="submit" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="subs_data">
                        <table>
                            <thead>
                                <tr>
                                    <th style="width:30%">Name</th>
                                    <th style="width:40%">Email</th>
                                    <th style="width:30%">Unsubscribe</th>
                                </tr>
                            </thead>

                            <tbody id="subscribers_list_table">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript" src="{% static 'subscribe.js' %}"></script>
</body>
