.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.red-line {
    border-bottom: 1px solid #F44336 !important;
    -webkit-box-shadow: 0 1px 0 0 #F44336 !important;
    box-shadow: 0 1px 0 0 #F44336 !important;
}

#judul {
    text-align: center;
    margin: 30px;
    color: white;
}

body {
    background-image: url('https://images.pexels.com/photos/534757/pexels-photo-534757.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-size: cover;
}
